<h1 class="subheader">Peliculas</h1>
<hr />
<h2>{{ titulo }}</h2>
<button (click)="cambiarTitulo()">pulsame</button>
<hr />
<h2>Mostrar primera pelicula</h2>
{{ peliculas[0].title }}
<hr />
<div *ngIf="peliculas.length > 0">
  <span>Catalogo de peliculas</span>
</div>
<h5>Numero de peliculas: {{ peliculas.length }}</h5>
<h2 class="subheader">Listado Peliculas</h2>
<div id="articles" *ngIf="peliculas">
  <article class="article-item" *ngFor="let pelicula of peliculas; let i = index">
    <div class="image-wrap">
      <img [src]="pelicula.image" [alt]="pelicula.title" />
    </div>

    <h2>{{i+1}} - {{ pelicula.title }}</h2>
    <span [class.yearRed]='pelicula.year > 2019'
          [class.yearGreen]='pelicula.year <= 2019'
          [style.background]="pelicula.year > 2019 ? 'red' : 'blue'" 
          style='color: white'>
        {{pelicula.year}}
    </span>
    <a href="#">Leer más</a>

    <div class="clearfix"></div>
  </article>
</div>
